---
layout: default
permalink: archives.html
---
<section class="hero">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                Categories
            </h1>
            <h2 class="subtitle">
                blogs posts by categories
            </h2>
        </div>
    </div>
</section>
<div class="content is-medium">
{% capture site_categories %}
{% for tag in site.categories %}
{{ tag | first }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

{% assign categories_list = site_categories | split:',' | sort %}
<section class="section">
    <div class="container is-fluid">
        <aside class="menu">
<div class="field is-grouped is-grouped-multiline">

    {% for item in (0..site.categories.size) %}
     <div class="control">
    <div class="tags has-addons">
    {% unless forloop.last %}
      {% capture this_categories %}{{ categories_list[item] | strip_newlines }}{% endcapture %}
     
        <a href="#{{ this_categories }}">
              <span class="tag">{{ this_categories }}</span>
      <span class="tag is-info">{{ site.categories[this_categories].size }}</span>
  
        </a>
  </div>
  </div>     
    {% endunless %}
    {% endfor %}

</div>
        </aside>
        <hr>
        <p></p>
        <aside>
{% for item in (0..site.categories.size) %}{% unless forloop.last %}
  {% capture this_categories %}{{ categories_list[item] | strip_newlines }}{% endcapture %}
  <article>
       <div class="tag-title" id="{{ this_categories }}">
 

   <span class="tag is-light is-medium">{{ this_categories }}</span>
           </div>
<ul>
    {% for post in site.categories[this_categories] %}
    {% if post.title != null %}
      <li>
        {% if post.link %}
        <a href="{{ post.link }}" class="has-text-info">
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="has-text-info">
        {% endif %}  
          {{ post.title }}
        </a>
      </li>
    {% endif %}
            <br>
    {% endfor %}
    </ul>
  </article>
{% endunless %}
{% endfor %}
        </ul>
    </div>
        </aside>
</section>
</div>
