---
layout: default
permalink: archives.html
---
<section class="hero">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                Categories
            </h1>
            <h2 class="subtitle">
                blogs posts by categories
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <aside class="menu">
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <p class="menu-label" id="category-{{ category | first | slugize }}">
                <a href="#category-{{ category | first | slugize }}"><i class="fa fa-anchor"></i></a> {{ category | first }}
            </p>
            <ul class="menu-list">
                {% for post in site.categories[category_name] %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </aside>
    </div>
</section>
