---
layout: default
---

<section class="section">
    <div class="container is-fluid">
        {% for post in paginator.posts %}
        <div class="content">
            {% if post.thumbnail %}
            <div class="card-image">
                <figure class="image">
                    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                        <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}">
                    </a>
                </figure>
            </div>
            {% endif %}
            <div class="content ">
                <h3 class="post-title is-dark"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                <p class="post-categories">
                     <p class="tag"> tags: 
                    {% for category in post.categories %}
                    {{ category }}, 
                    {% endfor %}
                 Posted on:<small>{{post.date | date: ' %B %d, %Y'}}</small></p></p>
                 
                {{ post.description | markdownify }}
               
            </div>
        </div>
        <hr>
        {% endfor %}
        <nav class="pagination is-centered is-dark">
              <ul class="pagination-list has-text-dark">
            <li><a {% if paginator.previous_page %}href="{{ site.baseurl }}{{  paginator.previous_page_path }}"{% endif %} class="pagination-previous {% if paginator.previous_page %}{% else %} is-disabled {% endif %}">Previous Page</a></li>
                      
                {% for page in (1..paginator.total_pages) %}
                <li>
                    <a {% if page == paginator.page %}{% else %} href="{% if page == 1 %}../{% else %}{% if paginator.page != 1 %}../{% endif %}{{ page }}{% endif %}" {% endif %} class="pagination-link {% if page == paginator.page %} is-current {% endif %}">{{ page }}</a>
                </li>
                {% endfor %}
            <li><a {% if paginator.next_page %}href="{{ site.baseurl }}{{  paginator.next_page_path }}"{% endif %} class="pagination-next {% if paginator.next_page %}{% else %} is-disabled {% endif %}">Next Page</a></li>
</ul>
        </nav>
    </div>
</section>
