<section class="hero is-info is-bold">
 <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="../index.html">
           <h1 class="title">
                <a href="/">Saravanan</a>
            </h1>
            <h2 class="subtitle">
                I am a stackoverflow developer!
</h2>        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab " href="/">
          Home
        </a>
        <a class="nav-item is-tab" href="/about.html">
          About
        </a>
        <a class="nav-item is-tab" href="/archives.html">
          Archives
        </a>
        <a class="nav-item is-tab" href="/feed.xml">
          Feed
        </a>
     
      </div>
    </div>
</nav>
</section>
<!--<div class="tabs is-right">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/archives.html">Archives</a></li>
    <li><a href="/feed.xml">Feed</a></li>
  </ul>
</div>-->
<!--<nav class="nav has-shadow">
    <div class="container is-fluid">
        <div class="nav-left nav-brand">
            <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item">
            {{ site.name }}
            </a>
        </div>
        <div class="nav-center">
            {% if site.social.github %}
            <a href="https://github.com/{{ site.social.github }}" class="nav-item">
            <span class="icon">
                <i class="fa fa-github"></i>
            </span>
            </a>
            {% endif %}
            {% if site.social.email %}
            <a href="mailto:{{ site.social.email }}" class="nav-item">
            <span class="icon">
                <i class="fa fa-envelope-o"></i>
            </span>
            </a>
            {% endif %}
            {% if site.social.facebook %}
            <a href="https://facebook.com/{{ site.social.facebook }}" class="nav-item">
            <span class="icon">
                <i class="fa fa-facebook"></i>
            </span>
            </a>
            {% endif %}
            {% if site.social.twitter %}
            <a href="https://twitter.com/{{ site.social.twitter }}" class="nav-item">
            <span class="icon">
                <i class="fa fa-twitter"></i>
            </span>
            </a>
            {% endif %}
            {% if site.social.instagram %}
            <a href="https://instagram.com/{{ site.social.instagram }}" class="nav-item">
            <span class="icon">
                <i class="fa fa-instagram"></i>
            </span>
            </a>
            {% endif %}
            {% if site.social.tumblr %}
            <a href="https://{{ site.social.tumblr }}.tumblr.com" class="nav-item">
            <span class="icon">
                <i class="fa fa-tumblr"></i>
            </span>
            </a>
            {% endif %}
        </div>
        <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
        <div class="nav-right nav-menu">
            <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item {% if page.url == "/" %} is-active {% endif %}">
            Blog
            </a>
            <a href="{{ "/categories" | prepend: site.baseurl }}" class="nav-item {% if page.url == "/categories/" %} is-active {% endif %}">
            Kategoriler
            </a>
            <div class="nav-item">
                {% if site.social.twitter %}
                <a href="https://twitter.com/{{ site.social.twitter }}" class="button">
                <span class="icon">
                    <i class="fa fa-twitter"></i>
                </span>
                    <span>Tweet</span>
                </a>
                {% endif %}
                {% if site.download %}
                <a href="{{ site.download }}" class="button is-primary">
                <span class="icon">
                    <i class="fa fa-download"></i>
                </span>
                    <span>Blog'u İndir</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>-->
 
