<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-medium">
             <a href="/">Saravanan</a>
      </h1>
      <h2 class="subtitle">
  I am a stackoverflow developer!
      </h2>
    </div>
  </div>
</section>

<nav class="nav has-shadow" id="top">   
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab " href="/">
          Home
        </a>
        <a class="nav-item is-tab" href="/about.html">
          About
        </a>
        <a class="nav-item is-tab" href="/archives.html">
          Archives
        </a>
        <a class="nav-item is-tab" href="/feed.xml">
          Feed
        </a>

           </div>
 </nav>
