---
---


// 1. Import the initial variables
@import "utilities/initial-variables"

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb
// Add pink and its invert
$pink: #ffb3b3
$pink-invert: #fff
// Add a serif family
$family-serif: "Roboto", "Georgia", serif

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink
$primary-invert: $pink-invert
// Use the existing orange as the danger color
$danger: $orange
// Use the new serif family
$family-primary: $family-serif

// Bulma.io CSS Framework
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";



// Custom
.nav-brand {
  font-weight: bold;
}

.post-card {
  .post-title {
    font-size: 1.6em;
  }
  .post-categories {
    margin-bottom: 5px;
  }
}
