---
---


// Bulma.io CSS Framework
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";



// Custom
.nav-brand {
  font-weight: bold;
}

.post-card {
  .post-title {
    font-size: 1.6em;
  }
  .post-categories {
    margin-bottom: 5px;
  }
}
