@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
body {
    margin: 5% auto;
    background: #f2f2f2;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont,  'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 73%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
}
/*code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
  color: #002b36;
	}
pre code {
	line-height: 1.6em;
	font-size: 16px;
 
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 2px solid #cb4b16;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
  
}*/

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}


.band {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}
main h1
{
    font-size: 48px;
    text-align:center;
}
.content
{
    padding-top: 10px;
}
nav a {
margin-right: 20px;
font-weight:400;
font-size:20px;

}
/*nav:after {
  clear: both;
  content: '';
}
.nav {
  float: right;
}*/









