---
layout: "compress"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}" />
    {% include opengraph.html %}
</head>
<body>
    <nav class="nav has-shadow" id="top">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="../index.html">
                    <img src="../images/bulma.png" alt="Description">
                </a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-right nav-menu">
                <a class="nav-item is-tab is-active"> Home </a>
                <a class="nav-item is-tab"> About </a>
                <a class="nav-item is-tab"> Archives </a>
                <a class="nav-item is-tab"> Feed </a>
                <span class="nav-item"> 
                    <a class="button"> Log in </a>
                    <a class="button is-info"> Sign up </a>
                </span>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container content">
            <p class="has-text-centered">Skeleton template for a basic layout.</p>
            {{ content }}
        </div>
    </section>
    {% include footer.html %}
    <script type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
